* {
    margin: 0px;
}
.main-header {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81zjVKrWcZL._AC_SL1500_.jpg);
    color: black;

}


header {
    color: white;
    font-size: 100px;
    text-align: center;
    }

    h1 {
        background-color: rgba(128, 127, 127, 0.33);
        font-weight: 900;
        padding-bottom: 0px;
    }
    h2{
        text-align: center;
        font-size: 100px;
    }
    nav li {
        font-weight: 500;
        background-color: rgba(10, 10, 10, 0.383);
    }
    
    a {
        color: black;
    }

footer {
    background-color: firebrick;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    }

body {
    background-color: rgb(194, 29, 29);
    }

section {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0px;

    }

li {
    border: solid black 1px;
    display: inline;
    padding: 5px;
    font-size: 60px;
    }

 #section1 {
     width: 40%;
     float: left;
    }
#pSection1 {
    padding:0px;
    border-top: 0px;
    padding-bottom: 5em;
}
#section2{
    float: right;
    width: 40%;
}
#pSection2{
    padding-bottom: 5em;
    margin-top: 0em;
}
 p {
     text-align: left;
     font-size: 20px;
     margin-left: 100px;
     margin-right: 100px;
     margin-top: 2em;
    }
#stars{
    width: 100px;
}
#pFooter{
    text-align: center;
}